<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Sistema de Pré-Matricula Online</title>
    <link rel="shortcut icon" type="image/x-icon" href="/Imagens/ufcg.png">
    <link type="text/css" href="Styles/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/Scripts/vue.js"></script>
    <script src="/Scripts/jquery.min.js"></script>
</head>

<body>
    <div class="container panel panel-primary text-center" id="header" role="banner">
            <div class="row col-sm-8 col-xs-8">
                <h1><a>Sistema de Pré-Matricula Online</a></h1>
            </div>
    </div>
        <form id="usuario" action='/' onsubmit="valida_login()">
            <p>Email: <input type="email" name="email" id="email" value ="email" placeholder="email @ccc" v-model="email"> </p>
            <input type="radio" name="tipo" id="aluno" value="aluno" v-model="tipo"> Aluno <br>
            <input type="radio" name="tipo" id="coord" value="coord" v-model="tipo"> Coordenação <br>
            <button type="submit" id="salvar" disabled>OK</button>
        </form> 
    <script src="/Scripts/client.js"></script>
    <script src="/Scripts/jq.js"></script>
</body>
</html>