<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Sistema de Pré-Matricula Online</title>
    <link rel="shortcut icon" type="image/x-icon" href="/Imagens/ufcg.png">
    <link type="text/css" href="Styles/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/Scripts/vue.js"></script>
    <script src="/Scripts/jquery.min.js"></script>
</head>

<body>
    <div class="container panel panel-primary text-center" id="header" role="banner">
        
        <div class="row">
            
            <div class="col-sm-2 col-xs-3">
                <img class="brasao" src="./Imagens/ufcg.png" alt="Universidade Federal de Campina Grande">
            </div>
            <div class="col-sm-8 col-xs-8">
                <h1>
                    <a href="./index.html">Sistema de Pré-Matricula Online</a>
                </h1>
            </div>  
        </div>
    </div>

    <div class="container panel panel-primary" id="conteudo" role="main">
        <form id="usuario" action='/' onsubmit="valida_login()">
            <label class="control-label col-sm-2">Email Institucional</label>
            <div class="col-sm-6">
                <input class="form-control" type="email" id="email" placeholder="seu_login@ccc.ufcg.edu.br" v-model="email">
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-xs-offset-1 col-sm-6">
                    <div class="radio">
                        <label>
                            <input type="radio" name="tipo" id="aluno" value="aluno" v-model="tipo" checked>Aluno</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="tipo" id="coord" value="coord" v-model="tipo">Coordenação</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" type="submit" id="salvar" able>OK</button>
                </div>
            </div>
            

        </form>
    </div>
    
        
    <script src="/Scripts/client.js"></script>
    <script src="/Scripts/jq.js"></script>
</body>
</html>
<footer>
 
</footer>