<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Área do Coordenador</title>
    <link rel="shortcut icon" type="image/x-icon" href="/Imagens/ufcg.png">
    <link type="text/css" href="/Styles/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="/Scripts/vue.js"></script>
    <script src="/Scripts/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    
    <div id="app">
        <my-top>
        </my-top>
                                            
        <my-navbar-coordenador>
        </my-navbar-coordenador>
    </div>

    <div class="container panel panel-primary" id="content" role="main">
        <div>
            <h2 class="text-center">Cadastro de Disciplina</h2>
        </div>

        <form id="cadastro_disc" class="form-horizontal" @submit="validaCadastro">
            <div class="form-group">
                <label class="control-label  col-sm-2"> Nome da Disciplina </label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="nome" v-model="nome">
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label  col-sm-2"> Código da Disciplina </label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="codigo" v-model="codigo">
                </div>
                
            </div>
            
            <div class="form-group">
                <label class="control-label  col-sm-2">N° de Créditos</label>
                <div class="col-sm-6">
                    <input class="form-control" type="number" min="0" id="creditos" @change="atualizacarga" v-model="creditos">
                </div>
               
            </div>
            
            <div class="form-group">
                <label class="control-label  col-sm-2">Carga Horária</label>
                <div class="col-sm-6">
                    <input class="form-control" type="number" min="0" id="carga" v-model="carga">
                </div>
                
            </div>

            <div class="form-group">
                    <label class="control-label  col-sm-2">Periodo</label>
                    <div class="col-sm-6">
                            <select v-model="periodo">
                                <option disabled value="">Selecione o periodo</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                    </div>
                    
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-xs-offset-1 col-sm-6">
                    <input type="radio" name="grade" id="old_grade" value="Antiga" v-model="grade" checked>Grade Antiga </br>
                    <input type="radio" name="grade" id="new_grade" value="Nova" v-model="grade">Grade Nova </br>
                    <input type="radio" name="grade" id="both_grade" value="Ambas" v-model="grade">Ambas </br>
                </div>
                

            </div>
            
            <div class="col-sm-offset-2 col-xs-offset-1 col-sm-6">
                <button class="btn btn-primary" type="submit" id="cadastrar_disc">OK</button>
            </div>

            <div>
                <label>

                </label>
            </div>
            
        </form>
    </div>
     <script>
                    function signOut() {
                        var auth2 = gapi.auth2.getAuthInstance();
                        auth2.signOut().then(function () {
                            console.log('User signed out.');
                        });
                    }
                    function onLoad() {
                        gapi.load('auth2', function() {
                            gapi.auth2.init();
                        });
                        }
    </script>
    <script src="/Scripts/disciplinas.js"></script>
    <script src="/Scripts/templates.js"></script>
</body>
</html>