<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="google-signin-client_id" content="415663373552-3foebghlgeuglmmaan8p0j0id0oi6vlq.apps.googleusercontent.com">
    <title>Área do Aluno</title>
    <link rel="shortcut icon" type="image/x-icon" href="/Imagens/ufcg.png">
    <link type="text/css" href="/Styles/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="/Scripts/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/Scripts/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>

    <div id="app">
        <my-top>
        </my-top>
                        
        <my-navbar-aluno>
        </my-navbar-aluno>
    </div>
    
    <div class="container panel panel-primary" id="content" role="main">
        <div>
            <h2 class="text-center">Realizar Pré-Matricula</h2>
        </div>
        <div>
            <label>

            </label>
        </div>
        <form id="disciplinas" class="table-responsive" @submit="validaCreditos">
            <table class="table table-striped table-hover table-condensed" id="tabOferta">
                <thead>
                    <tr>
                        <th class="text-center">Período</th>
                        <th class="text-center">Código</th>
                        <th class="text-center">Disciplina</th>
                        <th class="text-center">Créditos(Carga horária)</th>
                        <th class="text-center">Tipo de Grade</th>
                        <th class="text-center">Interesse </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="disc in disciplinas">
                        <td class="text-center">
                            {{disc.semestre}}
                        </td>
                        <td class="text-center">
                            {{disc.codigo_disciplina}}
                        </td>
                        <td class="text-center">
                            {{disc.disciplina}}
                        </td>
                        <td class="text-center">
                            {{disc.creditos}} ({{disc.horas}})<br>
                        </td>
                        <td class="text-center">
                            {{disc.grade}}
                        </td>
                        <td class="text-center">
                            <input type="checkbox" v-model="selecionadas" :value="disc" />
                        </td>
                    </tr>
                    <tr>
                </tbody>
            </table>
            <p>Disciplinas selecionadas: </p>

            <div v-for="disc in selecionadas" :key="disc.codigo">
                <ul>  <li>{{disc.disciplina}}</li>            </ul>
            </div>



            <div class="form-group">
                <button class="btn btn-primary" type="submit" id="salvar">OK</button>
            </div>
        </form>
    </div>
    <script src="/Scripts/alunos.js"></script>
    <script src="/Scripts/autentication.js"></script>
    <script src="/Scripts/disciplinas.js"></script>
    <script src="/Scripts/templates.js"></script>
</body>
</html>